$breakpoint-phone: 450px;

.bolder {
	&:hover {
		font-weight: bold;
		color: #000;
	}
}

#form-container {
	@media screen and (max-width: $breakpoint-phone) {
		margin-top: 10px;
		border: none;
		background: none;
		box-shadow: none;
	}
}

#error-message {
	@media screen and (max-width: $breakpoint-phone) {
		margin: 0;
	}
}
