$breakpoint-tablet: 768px;
$breakpoint-phone: 450px;

.Tilt {
	transform-style: preserve-3d;
	background: linear-gradient(to right, rgb(2, 142, 191), rgb(191, 240, 199));

	.Tilt-inner {
		transform: translateZ(30px);
	}
}

.face-detect-logo {
	@media screen and (max-width: $breakpoint-tablet) {
		display: flex;
		justify-content: center;
	}

	@media screen and (max-width: $breakpoint-phone) {
		margin-top: 10px;
	}
}
