$breakpoint-tablet: 768px;

#input-container {
	justify-content: space-around;

	@media screen and (max-width: $breakpoint-tablet) {
		width: 100%;
	}
}

.form {
	width: 700px;
}

.mybg {
	background: rgb(2, 142, 191);
	font-weight: bold;

	&:active {
		font-weight: normal;
	}
}
