$breakpoint-tablet: 768px;

#input-container {
	justify-content: space-around;

	@media screen and (max-width: $breakpoint-tablet) {
		width: 100%;
	}
}

.form {
	width: 700px;
}

.mybg {
	background: rgb(2, 142, 191);
	font-weight: bold;

	&:active {
		font-weight: normal;
	}
}

.user-input {
	@media screen and (max-width: $breakpoint-tablet) {
		border-radius: 0.5rem 0 0 0.5rem;
	}
}

#file-upload-input {
	@media screen and (max-width: $breakpoint-tablet) {
		width: 100%;
	}
}

.grab-btn {
	@media screen and (max-width: $breakpoint-tablet) {
		border-radius: 0 0.5rem 0.5rem 0;
	}
}

.upload-btn {
	@media screen and (max-width: $breakpoint-tablet) {
		border-radius: 0.5rem;
	}
}
